/***************************************************************

FONTS
font-family: 'Cinzel', serif;
font-family: 'Finger Paint', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
*/

/*
COLORS
Primary - #a7d2cb - rgb(167, 210, 203) - clean - background
Secondary - #f2d388 - rgb(242, 211, 136) - butter - background
Secondary - #c98474 - rgb(201, 132, 116) - salmon - background
Secondary - #874c62 - rgb(135, 76, 98) - eggplant - background




********************************************************************/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
}
body {
    background-color: rgb(0, 0, 0);
}

header {
    height: 60px;
    padding: 5px;
    background-color: rgb(167, 210, 203);
    display: flex;
    justify-content: start;
    font-family: 'Catamaran', 'Sans-serif';
    color: rgb(0,0,0, .9);
}
header img {
    height: 100%;
}
header .brandDiv{
    margin-left: 5px;
    display: flex;
    align-items: center;
    
    text-align: center;

}
header h1 {
    font-size: 2rem;
}


fieldset {
    background: white;
}

.card_box, .card_boxSelected{
    width: 70%;
    margin: 3rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    

}

.card_box picture{
    width: 100%;

}

.cardSelect img{
    width: 100%;
}
.cardSelect fieldset{
    height: 320px;

}
.inputContainer {
    width: 40%;
    background-color: rgba(242, 211, 136);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    
}
.inputContainer label{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;

}
.inputContainer select{
    border-radius: 5px;
    height: 30px;
    

}

