/***************************************************************

FONTS
font-family: 'Cinzel', serif;
font-family: 'Finger Paint', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
*/

/*
COLORS
Primary - #666600 - rgb(102,102,0) - dark yellow - background
Primary - #666600 - rgb(102,102,0) - dark yellow - background


********************************************************************/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
}
body {
    background-color: rgba(255,140,0,.4);
}

header {
    height: 6.5rem;
    background-color: rgba(255,255,255, .8);
    display: flex;
    justify-content: start;
    font-size: 3.3rem;
    font-family: 'Catamaran', 'Sans-serif';
    color: rgb(0,0,0, .9);
    border: 1px solid black;
}
.headerImgBox img{
    height: 100%;

}
header ul {
    display: flex;
    align-items: center;
}

